*{
  margin: 0;

}

.body{
  
  color: black;
  text-align: center;
  
}

.search-fill{
  color: white;
  background-color: #1B9996;
  padding: 50px;
}

.body h1{
  font-size: 36px;
}

.body input{
  border-radius: 10px;
  border: none;
  width: 50vw;
  height: 4vh;
  background-color: white;
  outline: none;
  margin-top: 20px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  transition: color 0.2s ease;

}

.search-button:hover {
  color: #6bb2ff;
}



.input-wrapper{
  background-color: white;
  width: 53vw;
  height: 6vh;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #d8d8d8d8;
  color: black;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

p {
  margin-top: 20px;
  font-style: italic;
  color: #555;
}